:host{
    --bg-color: #f0f0f0;
    --box-shadow: 0px 0px 5px 1px #b1b1b1;
    --office-color: #049cdc;

}

.outer-div{
    width: 18rem;
    background-color: var(--bg-color);
    box-shadow: var(--box-shadow);
    padding:20px;
}


.link{
    color: var(--office-color);
    font-weight: bold;
}

