.outer-div{
    width: 380px;
    position: absolute;
    background-color: #f0f0f0;
    box-shadow: 0px 0px 5px 1px #b1b1b1;
    padding:20px;
}

.logo-div{
    margin-bottom: 30px;
}

.icon{
    margin-right: 10px;
    display: flex;
    align-items: end;
    --slds-c-icon-color-foreground-default:#049cdc !important;
   
}

.slds-input{
    border:0px !important;
    border-radius: 0px !important;
    border-bottom:1px solid #d5d1cd !important;
    background-color:rgba(107, 197, 235, 0.165)!important;
}

.slds-input:active{
    --slds-c-input-shadow:0px !important;
    border-bottom:1px solid #049cdc !important;
    background-color:#049bdc2a !important;
}

.slds-input:focus{
    --slds-c-input-shadow:0px !important;
    border-bottom:1px solid #049cdc !important;
    background-color:#049bdc2a !important;
}

.email-input, .password-input{
   /* display: flex;*/
    margin-top: 10px;
    margin-bottom: 20px;
}
.email-label, .password-label{
    display: flex;
    margin-bottom: 3px;
    color: #09709c;
    font-size: 16px;
    font-weight: bold;
}

.login-button{
    margin-bottom: 20px;
}

::placeholder {
    color: #1111115a;
}

.login{
    --slds-c-button-brand-text-color:white;
    --slds-c-button-brand-text-color-hover:white;
    --slds-c-button-brand-text-color-active:white;
    --slds-c-button-brand-color-background-hover :#049bdcd4;
    --slds-c-button-brand-color-background :#049cdc;
    --slds-c-button-shadow-focus:0 0 3px #106d95;
    --slds-c-button-brand-color-border:#106d95;
    --slds-c-button-brand-color-border-hover:#ffffff;



    --slds-c-button-brand-spacing-inline-start:44%;
    --slds-c-button-brand-spacing-inline-end:44%;
}

.center{
    text-align: center;
}

.footer{
    margin-top: 20px;
    font-size: 13px;
}

.error {

    text-align: center;
    word-break: break-word;
    color: #ff9e9e;
}
.link{
    color:#1485b4;
    font-weight: bold;
}